*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Patrick Hand',cursive;
}

html{
    scroll-behavior:smooth;
}

body{
    background:linear-gradient(
        180deg,
        #87CEEB 0%,
        #a9def9 35%,
        #d6f1ff 100%
    );
    min-height:100vh;
    overflow-x:hidden;
    color:#2d4f6c;
}

/* HERO */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:30px;
position:relative;
overflow:hidden;
}

.hero-content{

    max-width:850px;

    background:rgba(255,255,255,.18);

    backdrop-filter:blur(25px);

    border:1px solid rgba(255,255,255,.4);

    border-radius:35px;

    padding:60px;

    box-shadow:

    0 20px 50px rgba(0,0,0,.15),

    0 0 50px rgba(255,255,255,.3);

    animation:

    heroFloat 6s ease-in-out infinite;

    transition:.5s;

}

.hero h1{
    font-size: 5rem;
    color: white;
    text-shadow:
        0 0 10px rgba(255,255,255,.8),
        0 0 20px rgba(255,255,255,.6),
        0 0 40px rgba(255,255,255,.4);

    animation: glowText 3s ease-in-out infinite alternate;
}

.hero h2{
    font-size:2.4rem;
    margin-top:10px;
    color:white;
letter-spacing:3px;

text-shadow:
0 0 10px rgba(255,255,255,.8);
}

.hero-text{
    margin-top:25px;
    line-height:2;
    font-size:1.05rem;
    color:#ffffff;
}

#startBtn{

    margin-top:35px;

    border:none;

    padding:18px 40px;

    border-radius:999px;

    cursor:pointer;

    font-size:1.05rem;

    font-weight:bold;

    background:

    linear-gradient(

    135deg,

    #ffffff,

    #dff4ff

    );

    color:#3b6f95;

    transition:.35s;

}

#startBtn:hover{

    transform:

    translateY(-6px)

    scale(1.08);

    box-shadow:

    0 15px 35px rgba(255,255,255,.6);

}

/* SECTION */

.section{
    padding:90px 20px;
}

.hidden{
    display:none;
}

.section-title{
    text-align:center;
    font-size:2.2rem;
    font-weight:700;
    color:#3b6f95;
    margin-bottom:40px;
}

/* LETTER */

.letter-box{
    max-width:900px;
    margin:auto;
    background:white;
    border-radius:25px;
    padding:40px;
    line-height:2;
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
    font-size:1.05rem;
border:
2px solid rgba(255,255,255,.5);

box-shadow:
0 0 30px rgba(255,255,255,.3),
0 15px 35px rgba(0,0,0,.08);
}

/* GALLERY */



/* GIFT */

.gift-box{
    text-align:center;
}

#giftBtn{
    border:none;
    padding:18px 35px;
    border-radius:999px;
    background:#5ea7db;
    color:white;
    cursor:pointer;
    font-size:1rem;
    font-weight:600;
animation:
    pulse 2s infinite;
}

.secret-message{
    display:none;
    max-width:850px;
    margin:35px auto 0;
    background:white;
    padding:40px;
    border-radius:25px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    line-height:2;
}

.secret-message.show{
    display:block;
}

/* CLOSING */

.closing-card{
    max-width:900px;
    margin:auto;
    background:white;
    padding:50px;
    border-radius:30px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.closing-card h2{
    color:#4b86b4;
    margin-bottom:25px;
}

.closing-card p{
    line-height:2;
}

.closing-card h3{
    margin-top:30px;
    color:#5ea7db;
}

/* BUTTERFLIES */

.butterflies{
    position:fixed;
    inset:0;
    pointer-events:none;
    overflow:hidden;
}

.butterflies span{
    position:absolute;
    font-size:30px;
    animation:fly linear infinite;
    opacity:.85;

    filter:
        drop-shadow(0 0 8px white)
        drop-shadow(0 0 15px #87CEEB);
}

.butterflies span:nth-child(1){
    left:5%;
    animation-duration:12s;
}

.butterflies span:nth-child(2){
    left:25%;
    animation-duration:15s;
}

.butterflies span:nth-child(3){
    left:50%;
    animation-duration:18s;
}

.butterflies span:nth-child(4){
    left:75%;
    animation-duration:13s;
}

.butterflies span:nth-child(5){
    left:90%;
    animation-duration:16s;
}

@keyframes fly{

    0%{

        transform:
        translate(-100px,100vh)
        rotate(0deg);

    }

    100%{

        transform:
        translate(120vw,-100px)
        rotate(360deg);

    }

}

/* MOBILE */

@media(max-width:768px){

    .hero h1{
        font-size:2.8rem;
    }

    .hero h2{
        font-size:1.7rem;
    }

    .hero-content{
        padding:35px 25px;
    }

    .letter-box,
    .closing-card,
    .secret-message{
        padding:25px;
    }

}
.gallery-section{
    margin-top:80px;
    text-align:center;
}

.gallery-section h2{
    font-size:2.3rem;
    margin-bottom:40px;
    color:#2f5d8c;
}

.polaroid-gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
}

.polaroid{
    background:white;
    padding:12px 12px 25px;
    width:220px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.15);
    transition:0.4s;

    animation:
        cardFloat 4s ease-in-out infinite;
}

.polaroid:nth-child(odd){
    transform:rotate(-4deg);
}

.polaroid:nth-child(even){
    transform:rotate(4deg);
}

.polaroid:hover{
    transform:scale(1.08) rotate(0deg);
    z-index:10;
}

.polaroid img{
    width:100%;
    height:260px;
    object-fit:cover;
    border-radius:10px;
}

.polaroid p{
    margin-top:12px;
    color:#4c6f95;
    font-size:1rem;
}

.memory-text{
    margin-top:50px;
    font-size:1.2rem;
    color:#3f6288;
    line-height:2;
}

@keyframes glowText{

    from{
        text-shadow:
            0 0 10px rgba(255,255,255,.6),
            0 0 20px rgba(255,255,255,.4);
    }

    to{
        text-shadow:
            0 0 20px rgba(255,255,255,1),
            0 0 40px rgba(255,255,255,.8),
            0 0 60px rgba(255,255,255,.5);
    }

}
@keyframes heroFloat{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-10px);
    }

    100%{
        transform:translateY(0px);
    }

}
.stars{
    position:fixed;
    inset:0;

    background-image:
    radial-gradient(
        rgba(255,255,255,.8) 1px,
        transparent 1px
    );

    background-size:60px 60px;

    opacity:.25;

    pointer-events:none;

    z-index:-1;
}
@keyframes cardFloat{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-8px);
    }

    100%{
        transform:translateY(0px);
    }

}
#typingText::after{

    content:"|";

    animation:
        blink .8s infinite;
}
@keyframes blink{

    50%{
        opacity:0;
    }

}
@keyframes pulse{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.08);
    }

    100%{
        transform:scale(1);
    }

}
.hero::before{

    content:"";

    position:absolute;

    width:350px;
    height:350px;

    border-radius:50%;

    background:
    radial-gradient(
        circle,
        rgba(255,255,255,.7),
        rgba(255,255,255,0)
    );

    top:50%;
    left:50%;

    transform:
    translate(-50%,-50%);

    z-index:-1;

}
.reveal{

    opacity:0;

    transform:
    translateY(60px);

    transition:1s;
}

.reveal.active{

    opacity:1;

    transform:
    translateY(0);
}
.hero-content{

    animation:

    fadeHero 1.8s ease,

    heroFloat 6s ease-in-out infinite;

opacity:0;

animation:

fadeHero 1.5s forwards,

heroFloat 6s ease-in-out infinite 1.5s;

}

@keyframes fadeHero{

    from{

        opacity:0;

        transform:

        translateY(40px);

    }

    to{

        opacity:1;

        transform:

        translateY(0);

    }

}
#loader{

position:fixed;

inset:0;

background:linear-gradient(
180deg,
#87CEEB,
#b7e8ff);

display:flex;

justify-content:center;

align-items:center;

z-index:99999;

transition:1s;

}

.loader-content{

text-align:center;

color:white;

}

.loader-butterfly{

font-size:70px;

animation:floatLoader 2s infinite ease-in-out;

}

@keyframes floatLoader{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0px);

}

}

.hideLoader{

opacity:0;

pointer-events:none;

}
@keyframes fadeHero{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}